@axis-color: var(--color-text-primary);
@grid-color: var(--color-dovegray);
@background-color: var(--alabaster);

.semiotic-graph {
  margin-bottom: 8px;
  .visualization-layer {
    .background-graphics {
      .axis-tick-lines {
        stroke: @grid-color;
        opacity: 0.1;
      }
      .axis-title text {
        letter-spacing: 1.5px;
      }
    }
    .axis.axis-labels {
      font-size: 12px;
      font-weight: 200;
      .y.left,
      .x.bottom {
        stroke: @axis-color;
        fill: none;
      }
      .axis-title.left.y text {
        letter-spacing: 1.5px;
      }
      .x.axis.bottom text.axis-label {
        transform: translateY(-10px);
      }
    }
  }

  .chart-header {
    display: flex;
    align-items: center;
    justify-content: center;

    .prefix {
      font-weight: 600;
    }
  }

  .chart-title {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 12px;
  }

  .graph-container {
    position: relative;
  }

  .time-series-chart {
    .xyframe-matte {
      fill: @background-color;
    }
  }

  .box-plot-chart {
    .piece {
      opacity: 0.8 !important;
    }
  }

  .zoom-icon {
    bottom: 115px;
    left: 25px;
    position: absolute;
    color: var(--dove-gray);
  }
}
