.histogram {
  .bar-annotation {
    text {
      font-size: 12px;
      font-weight: 600;
    }
    .annotation-connector {
      display: none;
    }
    .note-line {
      display: none;
    }
  }
}
