@background-color: var(--alabaster);

.time-series {
  .xyframe-matte {
    fill: @background-color;
  }
  .zoom-icon {
    bottom: 124px;
    left: 30px;
    position: absolute;
    color: var(--dove-gray);
  }
}
